<center>
<form method="post" action="" style=" border:5px solid rgb(11, 11, 13);padding:10px;width:400px" enctype="multipart/form-data" >


<div>
  <label > Catagory:</label>
  <select name="catagory" >
    <option> select</option>
    {{#each result}}
  
  <option value="{{this._id}}">{{this.catagory}}</option>
  {{/each}}
</div>
</select>


<div>
    <label>Subcatagory:</label>
  <select name="subcatagory" >
    <option> select</option>
    {{#each data}}
  
  <option value="{{this._id}}">{{this.subcatagories}}</option>
  {{/each}}
</div>
</select>
<div>
  <label >Product Name</label>
  <input type="text" name="productName" id="productName">
</div>


<div>
  <label >Product Discription:</label>
  <textarea name="ProductDiscription" id="ProductDiscription"></textarea>
</div>


<div>
  <label >Product Price:</label>
  <input type="text" name="ProductPrice" id="ProductPrice">
</div>


<div>
  <label >Product Image:</label>
  <input type="file" name="productimage" value="{{subresult.image}}">
  <img src="/images/{{subresult.productimage}}" width="200px" height="100px" alt="">
</div>


<div>
  <button type="submit"> submit </button>
</div>

<div>
  <button type="view"><a href="/admin/product_table">view</a></button>

</div>

</form>